In [1]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import requests

url = 'https://github.com/FlipRoboTechnologies/ML-Datasets/raw/main/Restaurant%20Food%20Cost/Data_Test.xlsx'
response = requests.get(url)

if response.status_code == 200:
    with open("temp_data.xlsx", "wb") as f:
        f.write(response.content)
    try:
        test = pd.read_excel("temp_data.xlsx")
        print(test.head()) 
    except Exception as e:
        print("Error reading Excel file:", e)
else:
    print("Failed to fetch data from the URL")

           TITLE  RESTAURANT_ID                                      CUISINES  \
0  CASUAL DINING           4085         North Indian, Chinese, Mughlai, Kebab
1    QUICK BITES          12680  South Indian, Fast Food, Pizza, North Indian
2  CASUAL DINING           1411       North Indian, Seafood, Biryani, Chinese
3           None            204                                       Biryani
4    QUICK BITES          13453                          South Indian, Kerala

                                                TIME       CITY      LOCALITY  \
0                      12noon – 12midnight (Mon-Sun)      Noida     Sector 18
1                            7am – 12:30AM (Mon-Sun)     Mumbai    Grant Road
2                           11am – 11:30pm (Mon-Sun)     Mumbai  Marine Lines
3  9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...  Faridabad           NIT
4                              11am – 10pm (Mon-Sun)      Kochi        Kaloor

  RATING       VOTES
0    4.3   564 votes
1    4.2    61 votes
2    3.8   350 votes
3    3.8  1445 votes
4    3.6    23 votes

In [8]:
import pandas as pd
import requests

url = 'https://github.com/FlipRoboTechnologies/ML-Datasets/raw/main/Restaurant%20Food%20Cost/Data_Train.xlsx'
response = requests.get(url)

if response.status_code == 200:
    with open("temp_data.xlsx", "wb") as f:
        f.write(response.content)    
    try:
        train = pd.read_excel("temp_data.xlsx")
        print(train.head()) 
    except Exception as e:
        print("Error reading Excel file:", e)
else:
    print("Failed to fetch data from the URL")

               TITLE  RESTAURANT_ID  \
0      CASUAL DINING           9438
1  CASUAL DINING,BAR          13198
2      CASUAL DINING          10915
3        QUICK BITES           6346
4     DESSERT PARLOR          15387

                                     CUISINES  \
0                 Malwani, Goan, North Indian
1              Asian, Modern Indian, Japanese
2  North Indian, Chinese, Biryani, Hyderabadi
3                            Tibetan, Chinese
4                                    Desserts

                                     TIME     CITY        LOCALITY RATING  \
0  11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)    Thane  Dombivali East    3.6
1                    6pm – 11pm (Mon-Sun)  Chennai       Ramapuram    4.2
2     11am – 3:30pm, 7pm – 11pm (Mon-Sun)  Chennai      Saligramam    3.8
3                 11:30am – 1am (Mon-Sun)   Mumbai     Bandra West    4.1
4                    11am – 1am (Mon-Sun)   Mumbai     Lower Parel    3.8

       VOTES  COST
0   49 votes  1200
1   30 votes  1500
2  221 votes   800
3   24 votes   800
4  165 votes   300

In [9]:
train.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
0,CASUAL DINING,9438,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49 votes,1200
1,"CASUAL DINING,BAR",13198,"Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30 votes,1500
2,CASUAL DINING,10915,"North Indian, Chinese, Biryani, Hyderabadi","11am – 3:30pm, 7pm – 11pm (Mon-Sun)",Chennai,Saligramam,3.8,221 votes,800
3,QUICK BITES,6346,"Tibetan, Chinese",11:30am – 1am (Mon-Sun),Mumbai,Bandra West,4.1,24 votes,800
4,DESSERT PARLOR,15387,Desserts,11am – 1am (Mon-Sun),Mumbai,Lower Parel,3.8,165 votes,300

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12690 entries, 0 to 12689
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          12690 non-null  object
 1   RESTAURANT_ID  12690 non-null  int64
 2   CUISINES       12690 non-null  object
 3   TIME           12690 non-null  object
 4   CITY           12578 non-null  object
 5   LOCALITY       12592 non-null  object
 6   RATING         12688 non-null  object
 7   VOTES          11486 non-null  object
 8   COST           12690 non-null  int64
dtypes: int64(2), object(7)
memory usage: 892.4+ KB

In [11]:
for i in train.columns:
    print("Unique values in", i, train[i].nunique())

Unique values in TITLE 113
Unique values in RESTAURANT_ID 11892
Unique values in CUISINES 4155
Unique values in TIME 2689
Unique values in CITY 359
Unique values in LOCALITY 1416
Unique values in RATING 32
Unique values in VOTES 1847
Unique values in COST 86

In [ ]:
# Data pre-processing

In [12]:
df = train.append(test,ignore_index=True)

In [13]:
df = df[['TITLE', 'CUISINES', 'TIME', 'CITY', 'LOCALITY', 'RATING', 'VOTES', 'COST']]

In [14]:
def extract_closed(time):
    a = re.findall('Closed \(.*?\)', time)
    if a != []:
        return a[0]
    else:
        return 'NA'

df['CLOSED'] = df['TIME'].apply(extract_closed)

In [15]:
df['TIME'] = df['TIME'].str.replace(r'Closed \(.*?\)','')

In [16]:
df['RATING'] = df['RATING'].str.replace('NEW', '1')
df['RATING'] = df['RATING'].str.replace('-', '1').astype(float)

In [17]:
df['VOTES'] = df['VOTES'].str.replace(' votes', '').astype(float)

In [18]:
df['CITY'].fillna('Missing', inplace=True)  
df['LOCALITY'].fillna('Missing', inplace=True)  
df['RATING'].fillna(3.8, inplace=True)  
df['VOTES'].fillna(0.0, inplace=True)

In [19]:
df['COST'] = df['COST'].astype(float)

In [20]:
df.head(2)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,CLOSED
0,CASUAL DINING,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49.0,1200.0,NA
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30.0,1500.0,NA

In [21]:
df['TITLE'].nunique(), df['CUISINES'].nunique()

(123, 5183)

In [22]:
calc_mean = df.groupby(['CITY'], axis=0).agg({'RATING': 'mean'}).reset_index()
calc_mean.columns = ['CITY','CITY_MEAN_RATING']
df = df.merge(calc_mean, on=['CITY'],how='left')

calc_mean = df.groupby(['LOCALITY'], axis=0).agg({'RATING': 'mean'}).reset_index()
calc_mean.columns = ['LOCALITY','LOCALITY_MEAN_RATING']
df = df.merge(calc_mean, on=['LOCALITY'],how='left')

In [23]:
df.head(2)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,CLOSED,CITY_MEAN_RATING,LOCALITY_MEAN_RATING
0,CASUAL DINING,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49.0,1200.0,NA,3.376271,3.388889
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30.0,1500.0,NA,3.584588,3.472222

In [25]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Vectorization for 'TITLE' column
tf1 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_title = tf1.fit_transform(df['TITLE'])
df_title = pd.DataFrame(data=df_title.toarray(), columns=tf1.get_feature_names_out())  # Fix for the error

# Vectorization for 'CUISINES' column
tf2 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_cuisines = tf2.fit_transform(df['CUISINES'])
df_cuisines = pd.DataFrame(data=df_cuisines.toarray(), columns=tf2.get_feature_names_out())  # Fix for the error

# Vectorization for 'CITY' column
tf3 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_city = tf3.fit_transform(df['CITY'])
df_city = pd.DataFrame(data=df_city.toarray(), columns=tf3.get_feature_names_out())  # Fix for the error

# Vectorization for 'LOCALITY' column
tf4 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_locality = tf4.fit_transform(df['LOCALITY'])
df_locality = pd.DataFrame(data=df_locality.toarray(), columns=tf4.get_feature_names_out())  # Fix for the error

# Vectorization for 'TIME' column
tf5 = TfidfVectorizer(ngram_range=(1, 1), lowercase=True)
df_time = tf5.fit_transform(df['TIME'])
df_time = pd.DataFrame(data=df_time.toarray(), columns=tf5.get_feature_names_out())  # Fix for the error

In [26]:
df.head(2)

,TITLE,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST,CLOSED,CITY_MEAN_RATING,LOCALITY_MEAN_RATING
0,CASUAL DINING,"Malwani, Goan, North Indian","11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",Thane,Dombivali East,3.6,49.0,1200.0,NA,3.376271,3.388889
1,"CASUAL DINING,BAR","Asian, Modern Indian, Japanese",6pm – 11pm (Mon-Sun),Chennai,Ramapuram,4.2,30.0,1500.0,NA,3.584588,3.472222

In [27]:
df = pd.concat([df, df_title, df_cuisines, df_city, df_locality, df_time], axis=1) 
df.drop(['TITLE', 'CUISINES', 'CITY', 'LOCALITY', 'TIME'], axis=1, inplace=True)

In [28]:
df = pd.get_dummies(df, columns=['CLOSED'], drop_first=True)

In [29]:
df.shape

(16921, 2285)

In [30]:
train_df = df[df['COST'].isnull()!=True]
test_df = df[df['COST'].isnull()==True]
test_df.drop('COST', axis=1, inplace=True)

In [31]:
train_df.shape, test_df.shape

((12690, 2285), (4231, 2284))

In [32]:
train_df['COST'] = np.log1p(train_df['COST'])

In [33]:
# Train test split

In [34]:
X = train_df.drop(labels=['COST'], axis=1)
y = train_df['COST'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)

In [35]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

((9517, 2284), (9517,), (3173, 2284), (3173,))

In [40]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.3.0-py3-none-win_amd64.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 1.4 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\sandeep\anaconda3\lib\site-packages (from lightgbm) (1.23.5)
Requirement already satisfied: scipy in c:\users\sandeep\anaconda3\lib\site-packages (from lightgbm) (1.10.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-4.3.0

In [36]:
# Build the model

In [41]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error

In [48]:
from sklearn.ensemble import BaggingRegressor
br = BaggingRegressor(base_estimator=None, n_estimators=30, max_samples=0.9, max_features=1.0, bootstrap=True, 
                      bootstrap_features=True, oob_score=True, warm_start=False, n_jobs=1, random_state=42, verbose=1)
br.fit(X_train, y_train)
y_pred_br = br.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred_br))))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   39.9s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

RMSLE: 0.35889807962931003

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.6s finished

In [51]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error
import numpy as np
import math

rf = RandomForestRegressor(
    n_estimators=40,
    criterion='squared_error',  # Corrected to 'squared_error'
    max_depth=None,
    min_samples_split=4,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    bootstrap=True,
    oob_score=False,
    n_jobs=1,
    random_state=42,
    verbose=1,
    warm_start=False
)

rf.fit(X_train, y_train)  # Train the model
y_pred_rf = rf.predict(X_cv)  # Predictions
# Calculate RMSLE
rmsle = math.sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred_rf)))
print('RMSLE:', rmsle)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

RMSLE: 0.3614325787756466

[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:   46.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:    0.0s finished

In [53]:
import numpy as np
from sklearn.metrics import mean_squared_log_error
import math

# Assuming these arrays represent the model predictions
y_pred_lgbm = np.array([2.0, 2.5, 3.0])  # LightGBM predictions
y_pred_br = np.array([1.9, 2.6, 3.1])    # Bayesian Ridge predictions
y_pred_rf = np.array([2.1, 2.4, 3.2])    # Random Forest predictions

# Combine the predictions with specified weights
y_pred = y_pred_lgbm * 0.70 + y_pred_br * 0.15 + y_pred_rf * 0.15

# Cross-validation true values
y_cv = np.array([2.05, 2.55, 3.05])

# Compute RMSLE
rmsle = math.sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred)))

print('RMSLE:', rmsle)

RMSLE: 0.0370441716242772

In [67]:
Xtest = test_df

In [58]:
from sklearn.model_selection import KFold
from sklearn.ensemble import BaggingRegressor

err_br = []
y_pred_totbr = []

fold = KFold(n_splits=15, shuffle=True, random_state=42)

for train_index, test_index in fold.split(X):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]

    br = BaggingRegressor(base_estimator=None, n_estimators=30, max_samples=1.0, max_features=1.0, bootstrap=True,
                          bootstrap_features=True, oob_score=False, warm_start=False, n_jobs=1, random_state=42, verbose=0)
    
    br.fit(X_train, y_train)
    y_pred_br = br.predict(X_test)

    print("RMSE BR:", sqrt(mean_squared_log_error(np.exp(y_test), np.exp(y_pred_br))))

    err_br.append(sqrt(mean_squared_log_error(np.exp(y_test), np.exp(y_pred_br))))
    p = br.predict(Xtest)
    y_pred_totbr.append(p)

RMSE BR: 0.3604225466162505
RMSE BR: 0.3606867271762973
RMSE BR: 0.34840054065618664
RMSE BR: 0.3511785117383026
RMSE BR: 0.3412423764840244
RMSE BR: 0.3324498158689537
RMSE BR: 0.3627368477369282
RMSE BR: 0.3781163629013975
RMSE BR: 0.35734481021927217
RMSE BR: 0.34075710028279965
RMSE BR: 0.3451173859037766
RMSE BR: 0.3592734017580756
RMSE BR: 0.34009318446171727
RMSE BR: 0.3571125481490086
RMSE BR: 0.37301396435914974

In [63]:
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error
import numpy as np

# Lists to collect errors and predictions
err_rf = []
y_pred_totrf = []

# Setting up KFold
fold = KFold(n_splits=15, shuffle=True, random_state=42)

# Loop through KFold splits
for train_index, test_index in fold.split(X):
    # Train-test split
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = y[train_index], y[test_index]

    # Initializing RandomForestRegressor without 'min_impurity_split'
    rf = RandomForestRegressor(
        n_estimators=40,
        criterion='squared_error',  # Default for 'mse'
        max_depth=None,
        min_samples_split=4,
        min_samples_leaf=1,
        max_features='auto',  # Defaults to 'sqrt'
        bootstrap=True,
        random_state=42
    )

    # Fit model
    rf.fit(X_train, y_train)

    # Predictions and RMSE calculation
    y_pred_rf = rf.predict(X_test)
    rmse = np.sqrt(mean_squared_log_error(np.exp(y_test), np.exp(y_pred_rf)))
    print("RMSE RF: ", rmse)

    # Collecting results
    err_rf.append(rmse)
    y_pred_totrf.append(rf.predict(Xtest))

RMSE RF:  0.367643040550238
RMSE RF:  0.36746611594287887
RMSE RF:  0.35310503109148267
RMSE RF:  0.35372806894090497
RMSE RF:  0.3435273136721323
RMSE RF:  0.3388947172550363
RMSE RF:  0.3737674369391258
RMSE RF:  0.37930885680835713
RMSE RF:  0.36485332107177315
RMSE RF:  0.3514014607260739
RMSE RF:  0.35644005008055707
RMSE RF:  0.3613770579766431
RMSE RF:  0.34970383718881143
RMSE RF:  0.36668063332812095
RMSE RF:  0.37461126547894136

In [69]:
 np.mean(err_br,0), np.mean(err_rf,0)

(0.35386307495414276, 0.36016721380340516)