In [4]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\sandeep\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\sandeep\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sandeep\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: requests in c:\users\sandeep\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sandeep\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sandeep\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sandeep\anaconda3\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sandeep\anaconda3\lib\site-packages (from requests) (2022.12.7)

In [35]:
# Write a python program to display all the header tags from wikipedia.org and make data frame.

import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

soup = BeautifulSoup(page.content)

header = []
for i in  soup.find_all('li',class_="mw-list-item"):
    header.append(i.text)
    
print(len(header)) 
df = pd.DataFrame({"Header":header})

print(df)

101
              Header
0          Main page
1           Contents
2     Current events
3     Random article
4    About Wikipedia
..               ...
96               ไทย
97            Türkçe
98        Українська
99        Tiếng Việt
100               中文

[101 rows x 1 columns]

In [15]:
# Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)

import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get("https://presidentofindia.nic.in/former-presidents.htm")

soup = BeautifulSoup(page.content)

names = []
for i in  soup.find_all('div',class_="desc-sec"):
    names.append(i.text)    
print(len(names))

df = pd.DataFrame({'Names':names})
df

0

Empty DataFrame
Columns: [Names]
Index: []

In [3]:

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

teams = []
for i in  soup.find_all('div',class_="si-table-data si-team"):
    teams.append(i.text.)
    
    
matches = []
for i in  soup.find_all('div',class_="si-table-data si-matches"):
    matches.append(i.text.)
    
points = []
for i in  soup.find_all('div',class_="si-table-data si-pts"):
    points.append(i.text.)
    
ratings = []
for i in  soup.find_all('div',class_="si-table-data si-rating"):
    ratings.append(i.text)
    
print(len(teams),len(matches),len(points),len(ratings)) 

df = pd.DataFrame({'Teams':teams[:10],'Matches':matches[:10],'Points':points[:10],'Ratings':ratings[:10]})
df

0 0 0 0

Empty DataFrame
Columns: [Teams, Matches, Points, Ratings]
Index: []

In [2]:
# Top 10 ODI Batsmen along with the records of their team andrating.

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

players = []
for i in  soup.find_all('div',class_="si-table-data si-player"):
    players.append(i.text)
    
    
team = []
for i in  soup.find_all('div',class_="si-table-data si-team"):
    team.append(i.text)
    
ratings = []
for i in  soup.find_all('span',clas_s="si-text"):
    ratings.append(i.text)
    
    
print(len(players),len(team),len(ratings)) 

df = pd.DataFrame({'Players':players,'Team':team,'Ratings':ratings})
df

0 0 0

Empty DataFrame
Columns: [Players, Team, Ratings]
Index: []

In [3]:
# Top 10 ODI bowlers along with the records of their team andrating.

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup = BeautifulSoup(page.content)

bowler = []
for i in  soup.find_all('div',class_="si-table-data si-player"):
    bowler.append(i.text)
    
    
team = []
for i in  soup.find_all('div',class_="si-table-data si-team"):
    team.append(i.text)
    
ratings = []
for i in  soup.find_all('div',class_="si-table-data si-rating"):
    ratings.append(i.text)
    
    

print(len(players),len(team),len(ratings)) 

df = pd.DataFrame({'Bowler':bowler,'Team':team,'Ratings':ratings})
df

0 0 0

Empty DataFrame
Columns: [Bowler, Team, Ratings]
Index: []

In [1]:
# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.icc-cricket.com/rankings/team-rankings/womens/odi')
soup = BeautifulSoup(page.content)

teams = []
for i in  soup.find_all('div',class_="si-table-data si-team"):
    teams.append(i.text)
    
    
matches = []
for i in  soup.find_all('div',class_="si-table-data si-matches"):
    matches.append(i.text)
    
points = []
for i in  soup.find_all('div',class_="si-table-data si-pts"):
    points.append(i.text)
    
ratings = []
for i in  soup.find_all('div',class_="si-table-data si-rating"):
    ratings.append(i.text)
    
print(len(teams),len(matches),len(points),len(ratings)) 

df = pd.DataFrame({'Teams':teams[:10],'Matches':matches[:10],'Points':points[:10],'Ratings':ratings[:10]})
df

0 0 0 0

Empty DataFrame
Columns: [Teams, Matches, Points, Ratings]
Index: []

In [4]:
#  Top 10 women’s ODI Batting players along with the records of their team and rating.

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.icc-cricket.com/rankings/team-rankings/womens/odi')
soup = BeautifulSoup(page.content)

players = []
for i in  soup.find_all('div',class_="si-table-data si-player"):
    players.append(i.text)
    
    
team = []
for i in  soup.find_all('div',class_="si-table-data si-team"):
    team.append(i.text)
    
ratings = []
for i in  soup.find_all('div',class_="si-table-data si-rating"):
    ratings.append(i.text)
    

print(len(players),len(team),len(ratings)) 

df = pd.DataFrame({'Players':players,'Team':team,'Ratings':ratings})
df

0 0 0

Empty DataFrame
Columns: [Players, Team, Ratings]
Index: []

In [5]:
#  Top 10 women’s ODI all-rounder along with the records of their team and rating.

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.icc-cricket.com/rankings/team-rankings/womens/odi')
soup = BeautifulSoup(page.content)

player = []
for i in  soup.find_all('div',class_="si-table-data si-player"):
    player.append(i.text)
    
    
team = []
for i in  soup.find_all('div',class_="si-table-data si-team"):
    team.append(i.text)
    
ratings = []
for i in  soup.find_all('div',class_="si-table-data si-rating"):
    ratings.append(i.text)
    

print(len(players),len(team),len(ratings)) 

df = pd.DataFrame({'Player':player,'Team':team,'Ratings':ratings})
df

0 0 0

Empty DataFrame
Columns: [Player, Team, Ratings]
Index: []

In [14]:
# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data frame

from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)

headlines = []
for i in  soup.find_all('div',class_="LatestNews-headlineWrapper"):
    headlines.append(i.text)
    
    
time = []
for i in  soup.find_all('span',class_="LatestNews-wrapper"):
    time.append(i.text)
    
print(len(headlines),len(time)) 
df = pd.DataFrame({'Headlines':headlines,'Time':time})
df

30 30

                                            Headlines              Time
0   16 Hours AgoWall Street touted 5 portfolio sto...      16 Hours Ago
1   17 Hours AgoBeijing intensifies military press...      17 Hours Ago
2   18 Hours AgoHow the Apple iPhone became one of...      18 Hours Ago
3   19 Hours AgoMark Ruffalo 'couldn't afford a ca...      19 Hours Ago
4   20 Hours Ago10 of our stocks report earnings n...      20 Hours Ago
5   20 Hours AgoFlorida is the No. 1 state to reti...      20 Hours Ago
6   21 Hours AgoThe future of American amusement p...      21 Hours Ago
7   21 Hours Ago2 surprising reasons why skipping ...      21 Hours Ago
8   21 Hours Ago28-year-old worth more than $500,0...      21 Hours Ago
9   21 Hours AgoGen Z vs. their parents: How the g...      21 Hours Ago
10  22 Hours AgoHow Guyana's big oil boom turned i...      22 Hours Ago
11  22 Hours AgoWhy kids TV content is vital to st...      22 Hours Ago
12  22 Hours AgoThese energy stocks may rally afte...      22 Hours Ago
13  22 Hours AgoBuy these top tech stocks into ear...      22 Hours Ago
14  22 Hours AgoQuality stocks are dominating the ...      22 Hours Ago
15  23 Hours AgoA handful of space companies are r...      23 Hours Ago
16  January 26, 2024WWE founder Vince McMahon resi...  January 26, 2024
17  January 26, 2024Why weakness in small caps may...  January 26, 2024
18  January 26, 2024Cramer's Lightning Round: Cons...  January 26, 2024
19  January 26, 2024Rivian CEO says EV market suff...  January 26, 2024
20  January 26, 2024Cramer's week ahead: Fed meeti...  January 26, 2024
21  January 26, 2024Oil tanker hit by missile in G...  January 26, 2024
22  January 26, 2024FTC fines Kubota $2 million in...  January 26, 2024
23  January 26, 2024Merck, J&J CEOs agree to testi...  January 26, 2024
24  January 26, 2024Former New York Gov. Andrew Cu...  January 26, 2024
25  January 26, 2024Shut out of the high-flying Su...  January 26, 2024
26  January 26, 2024Why Jim Cramer says it might b...  January 26, 2024
27  January 26, 2024Wall Street barreling toward b...  January 26, 2024
28  January 26, 2024A slate of banks slashed CD yi...  January 26, 2024
29  January 26, 2024BrightSpring debut is the late...  January 26, 2024

In [13]:
# Write a python program to scrape the details of most downloaded articles from AI in last 90
# days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details and make data frame-


from bs4 import BeautifulSoup
import requests
import pandas as pd

page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(page.content)

title = []
for i in  soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)
    
    
authors = []
for i in  soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
    
date = []
for i in  soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    date.append(i.text)
                        
link = []
for i in  soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    link.append(i.text)
    

print(len(title),len(authors),len(date),len(link)) 

df = pd.DataFrame({'Paper Title':title,'Authors':authors,'Published Date':date,'Paper URL':link})
df

24 24 24 24

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,Reward is enough
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,Explanation in artificial intelligence: Insigh...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,Creativity and artificial intelligence
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,Conflict-based search for optimal multi-agent ...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,Knowledge graphs as tools for explainable mach...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,Law and logic: A review from an argumentation ...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,Between MDPs and semi-MDPs: A framework for te...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,Explaining individual predictions when feature...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,Multiple object tracking: A literature review
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,A survey of inverse reinforcement learning: Ch...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,Evaluating XAI: A comparison of rule-based and...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,Explainable AI tools for legal reasoning about...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,Hard choices in artificial intelligence
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,Assessing the communication gap between AI mod...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,Explaining black-box classifiers using post-ho...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,The Hanabi challenge: A new frontier for AI re...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,Wrappers for feature subset selection
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,Artificial cognition for social human–robot in...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,A review of possible effects of cognitive bias...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,The multifaceted impact of Ada Lovelace in the...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,Robot ethics: Mapping the issues for a mechani...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,Reward (Mis)design for autonomous driving
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,Planning and acting in partially observable st...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,What do we want from Explainable Artificial In...

In [10]:
# Write a python program to scrape mentioned details from dineout.co.in and make data frame

from bs4 import BeautifulSoup
import requests


page = requests.get('https://www.dineout.co.in/mumbai-restaurants/chinese-cuisine')
soup = BeautifulSoup(page.content)

name = []
for i in  soup.find_all('div',class_="restnt-info cursor"):
    name.append(i.text)
    
    
cuisine = []
for i in  soup.find_all('div',class_="detail-info"):
    cuisine.append(i.text)
    
location = []
for i in  soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
                        
ratings = []
for i in  soup.find_all('div',class_="restnt-rating rating-5"):
    ratings.append(i.text)
    
image = []
for i in  soup.find_all('img',class_="no-img"):
    image.append(i['data-src'])
    
print(len(name),len(cuisine),len(location),len(ratings),len(image)) 

import pandas as pd
df = pd.DataFrame({'Restaurant name':name,'Cuisine':cuisine,'Location':location,'Ratings':ratings,'ImageURL':image})
df

21 21 21 21 21

,Restaurant name,Cuisine,Location,Ratings,ImageURL
0,"TrendsMalad West, North Western","₹ 700 for 2 (approx) | North Indian, Chinese, ...","Malad West, North Western",5,https://im1.dineout.co.in/images/uploads/resta...
1,"Discovery RestaurantJuhu, Andheri West","₹ 900 for 2 (approx) | Chinese, Thai, Asian","Juhu, Andheri West",5,https://im1.dineout.co.in/images/uploads/resta...
2,"Punjabi FusionM.I.D.C, Andheri East","₹ 700 for 2 (approx) | Chinese, North Indian, ...","M.I.D.C, Andheri East",5,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe BollywoodHigh Street Mall,Thane West, Thane","₹ 400 for 2 (approx) | Fast Food, Chinese","High Street Mall,Thane West, Thane",5,https://im1.dineout.co.in/images/uploads/resta...
4,"MahaBellyThane West, Thane","₹ 500 for 2 (approx) | Chinese, North Indian, ...","Thane West, Thane",5,https://im1.dineout.co.in/images/uploads/resta...
5,"Gully GrillShah Royale,Kharghar, Navi Mumbai","₹ 300 for 2 (approx) | Pizza, Chinese, Fast Food","Shah Royale,Kharghar, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
6,"Uttam Da DhabaMarol, Andheri East","₹ 700 for 2 (approx) | North Indian, Chinese","Marol, Andheri East",5,https://im1.dineout.co.in/images/uploads/resta...
7,"Mago's KitchenVashi, Navi Mumbai","₹ 600 for 2 (approx) | Chinese, North Indian, ...","Vashi, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
8,"Dumpling KhangHardik Villa,Bandra West, Bandra","₹ 600 for 2 (approx) | Chinese, Tibetan","Hardik Villa,Bandra West, Bandra",5,https://im1.dineout.co.in/images/uploads/resta...
9,"Rioz Sasa ChilloutKharghar, Navi Mumbai","₹ 500 for 2 (approx) | Chinese, South Indian, ...","Kharghar, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
10,"Flames Of FlavorsMira Bhayandar, North Western","₹ 600 for 2 (approx) | Chinese, Thai","Mira Bhayandar, North Western",5,https://im1.dineout.co.in/images/uploads/resta...
11,"Wok This WayKandivali West, North Western","₹ 500 for 2 (approx) | Chinese, Korean, Health...","Kandivali West, North Western",5,https://im1.dineout.co.in/images/uploads/resta...
12,"Sazio LoungeMoraj Palm Paradise,Sanpada, Navi ...","₹ 1,000 for 2 (approx) | Chinese, Continental,...","Moraj Palm Paradise,Sanpada, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
13,"Urban ChulhaKalwa, Dombivali","₹ 700 for 2 (approx) | Chinese, North Indian, ...","Kalwa, Dombivali",5,https://im1.dineout.co.in/images/uploads/resta...
14,"Roast & CoastAmrapali Shopping Center,Vasant V...","₹ 700 for 2 (approx) | Chinese, North Indian","Amrapali Shopping Center,Vasant Vihar, Thane",5,https://im1.dineout.co.in/images/uploads/resta...
15,"Turban TadkaKharghar, Navi Mumbai","₹ 800 for 2 (approx) | Chinese, North Indian","Kharghar, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
16,"Hungrezy KitchenGhansoli, Navi Mumbai","₹ 1,100 for 2 (approx) | Chinese, North Indian...","Ghansoli, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
17,"The Food MasterVashi, Navi Mumbai","₹ 600 for 2 (approx) | Chinese, Malvani, North...","Vashi, Navi Mumbai",5,https://im1.dineout.co.in/images/uploads/resta...
18,"Oye BellyKamlesh Apartment,Near Andheri East S...","₹ 800 for 2 (approx) | Chinese, North Indian","Kamlesh Apartment,Near Andheri East Station, A...",5,https://im1.dineout.co.in/images/uploads/resta...
19,"MoMo KingMira Road, North Western","₹ 700 for 2 (approx) | Chinese, Fast Food","Mira Road, North Western",5,https://im1.dineout.co.in/images/uploads/resta...
20,"The Spoon StoryBhandup West, Central Suburbs","₹ 900 for 2 (approx) | Chinese, North Indian, ...","Bhandup West, Central Suburbs",5,https://im1.dineout.co.in/images/uploads/resta...